body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  padding-bottom: 15px;
  width: 105%
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.8;
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.8;
  padding-bottom: 20px;
}

p {
  padding-bottom: 10px;
  line-height: 1.4;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  text-decoration: none;
}

ul {
  list-style-type: none;
  float: right;
  text-decoration: none;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 45%;
}

a:-webkit-any-link {
  text-decoration: none;
}

figure {
  margin-bottom: 20px;
}
